# /etc/systemd/system/gunicorn.service
[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=superuser
Group=www-data
WorkingDirectory=/home/superuser/projects/smartmecanico
ExecStart=/home/superuser/projects/smartmecanico/bin/gunicorn --workers 3 --bind unix:/run/gunicorn.sock ngnix_guni.wsgi:application

[Install]
WantedBy=multi-user.target
