{% load static %}

<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'web:dashboard' %}">
  <div class="sidebar-brand-text mx-3">Smart Mecânico</div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
  <a class="nav-link" href="{% url 'web:dashboard' %}">
    <i class="fas fa-fw fa-tachometer-alt"></i>
    <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
    aria-controls="collapseTwo">
    <i class="fas fa-fw fa-users"></i>
    <span>Clientes</span>
  </a>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Dados dos Clientes:</h6>
      <a class="collapse-item" href="{% url 'web:users-list' %}">Clientes</a>
      <a class="collapse-item" href="{% url 'web:vehicle-list' %}">Veículo</a>
      <a class="collapse-item" href="{% url 'web:address-list' %}">Endereços</a>
    </div>
  </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true"
    aria-controls="collapseUtilities">
    <i class="fas fa-fw fa-tools"></i>
    <span>Serviços</span>
  </a>
  <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Gestão de Serviços:</h6>
      <a class="collapse-item" href="#">Serviços</a>
      <a class="collapse-item" href="#">Agendamentos</a>
      <a class="collapse-item" href="#">Faturas</a>
      <a class="collapse-item" href="#">Orçamentos</a>
    </div>
  </div>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Inventory Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInventory" aria-expanded="true"
    aria-controls="collapseInventory">
    <i class="fa-solid fa-fw fa-boxes-stacked"></i>
    <span>Estoque</span>
  </a>
  <div id="collapseInventory" class="collapse" aria-labelledby="headingInventory" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Login Screens:</h6>
      <a class="collapse-item" href="login.html">Login</a>
      <a class="collapse-item" href="register.html">Register</a>
      <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
      <div class="collapse-divider"></div>
      <h6 class="collapse-header">Other Pages:</h6>
      <a class="collapse-item" href="404.html">404 Page</a>
      <a class="collapse-item" href="blank.html">Blank Page</a>
    </div>
  </div>
</li>

<!-- Nav Item - Appointment Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppointment" aria-expanded="true"
    aria-controls="collapseAppointment">
    <i class="fa-solid fa-calendar-days"></i>
    <span>Agendamento</span>
  </a>
  <div id="collapseAppointment" class="collapse" aria-labelledby="headingAppointment" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Gestão de Serviços:</h6>
      <a class="collapse-item" href="#">Serviços</a>
      <a class="collapse-item" href="#">Agendamentos</a>
      <a class="collapse-item" href="#">Faturas</a>
      <a class="collapse-item" href="#">Orçamentos</a>
    </div>
  </div>
</li>

<!-- Nav Item - Telemetry Collapse Menu -->
<li class="nav-item">
  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTelemetry" aria-expanded="true"
    aria-controls="collapseTelemetry">
    <i class="fa-solid fa-globe"></i>
    <span>Telemetria</span>
  </a>
  <div id="collapseTelemetry" class="collapse" aria-labelledby="headingTelemetry" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
      <h6 class="collapse-header">Gestão de Serviços:</h6>
      <a class="collapse-item" href="#">Serviços</a>
      <a class="collapse-item" href="#">Agendamentos</a>
      <a class="collapse-item" href="#">Faturas</a>
      <a class="collapse-item" href="#">Orçamentos</a>
    </div>
  </div>
</li>

<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
  <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>